*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.darkmode{
    background: linear-gradient(to bottom, #050a1d, #081235);
    height: fit-content;
    width: 100vh;
}
body.lightmode{
    background: linear-gradient(to bottom, #f0f0f0, #beb6b6);
    color: black;

    .container .filterdiv{
        color: black;
    }
    .container .searchbar{
        background: #f0f0f0;
    }

    .container .searchbar .light{
        background-color: #f0f0f0;
        border: 1px solid  transparent;
    }
    .container .filterdiv .btn{
        background: #f0f0f0;
        border: 1px solid black;
        color: black;
    }
    .container .filterdiv .btn:hover{
        background: #f0f0f0;
        border: 1px solid black;
        color: black;
    }

    
}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr 6fr;
    gap: 1rem;
    width: 80vw;
    height: fit-content;
    margin: 5vh 10vw;
}
.container .searchbar{
    background: #1f2535;
    border-radius:10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.container .searchbar .light{
    border: 1px solid  transparent;
    padding: 1rem;
    background-color: #2f354b;
    border-radius: 10px;

}
.container .filterdiv{
    border-radius:10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: white;
}

.filterdiv .btn{
    padding: 1rem;
    border-radius: 30px;
    font-size: 1rem;
    background: #2f354b;
    border: 1px solid white;
    color: white;
}

.container .extensionlist{
    background: transparent;
    border-radius:10px ;

}
.container .extensionlist .card{
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
}
.item{
    background: #1f2535;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    padding: 1rem;
    height: 20vh;
}
.item .description h3{
    color: rgba(255, 255, 255, 0.8);
}
.item p{
    color: rgba(255, 255, 255, 0.6);
}
.item .identity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}
.item .description{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.item .controls{
    display: flex;
    align-items: center;
    justify-content: space-between;;
    padding: 1rem;
}
.item .controls .btn{
    padding:0.5rem;
    border-radius: 30px;
    font-size: 15px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
}
.item .controls .btn1{
    height: 20px;
    width: 40px;
    border-radius: 30px;
    background:  rgba(255, 255, 255, 0.4);
}
.item .controls .toggle{
    height: 100%;
    width: 50%;
    background: white;
    border-radius: 50%;
}
